.container{
    background: #dbdbdb;
}

.container-fluid{
    background: #dbdbdb;
}

.index_logo{
    margin-bottom: 1%;
}

header{
    background: #ed1a75;
}

.text_header{
    color: white;
}

@media only screen and (max-width: 576px){

}