.container{
    background: #ffe2f4;
}

.container-fluid{
    background: #ffe2f4;
}

.index_logo{
    margin-bottom: 1%;
}

header{
    background: #ff009d;
}

.text_header{
    color: white;
}

@media only screen and (max-width: 576px){

}