.Main_block {
    background-color: #fff2fe;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
}

.info_text{
    width: 88%;
   margin: 0 auto;
}

/*  .Title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}  */

/* * {
  box-sizing: border-box;
} */