
/* IFRAME RESPONSIVE SETTINGS */
iframe {width: 740px; height: 1260px;}

@media only screen and (max-width: 1024px){
    iframe {width: 880px; height: 1260px;}
}

@media only screen and (max-width: 923px){
    iframe {width: 700px; height: 1260px;}
}

@media only screen and (max-width: 788px){
    iframe {width: 600px; height: 1260px;}
}

@media only screen and (max-width: 655px){
    iframe {width: 470px; height: 1050px;}
}

@media only screen and (max-width: 520px){
    iframe {width: 300px; height: 1110px;}
}