.image {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.image-desc{
    font-size: 12px;
    padding-bottom: 15px;
}

@media only screen and (max-width: 698px) {
    .image {
        height: 540px;
    }
}

@media only screen and (max-width: 609px) {
    .image {
        height: 400px;
    }
}

@media only screen and (max-width: 466px) {
    .image {
        height: 260px;
    }
}

@media only screen and (max-width: 320px) {
    .image {
        height: 220px;
    }
}
