.container-link {height: 88px;}
.link-section-title{font-size: 23px;}
.link-img {float: left;width: 73px;}
.link-text {padding-left: 90px;}
.link-hook {font-size: 23px;}
.link-desc {font-size: 14px;margin-left: 25px;color: gray;}
.scoped-link-section-title{text-align:center;color:gray;font-size:12px;}
.linktree {font-size: 13px;}