.VICE_IMG {width: 160px;display: block;
    margin-left: 20px;
    margin-top: 5px;
    /* margin-left: auto;
    margin-right: auto; */}
.CONTACT_DESCRIPTION{margin-left: 29px;}

.VICE_DESC {
    font-family: Century Gothic;
    font-size: 22px;
}
.LEARNING_LABEL{
    color:rgb(204, 204, 204);font-size:18px;
}

.vice_child_container_1{
   display: inline-block;
}

.vice_child_container_2{
    display: inline-block;
}

@media only screen and (max-width: 1024px){
    .vice_parent_container{
        margin-left: 15%;
    }
}

@media only screen and (max-width: 657px){
    .vice_child_container_1{
        margin-left: 25%;
    }
}

@media only screen and (max-width: 470px){
    .vice_parent_container{
        margin-left: 0px;
    }
}

span{font-weight: bold;}

@media only screen and (max-width: 1024px){
    .VICE_IMG{display: block;margin-left: auto;margin-right: auto;margin-top: 0px;}
}

@media only screen and (max-width: 767px){
    .VICE_IMG{display: block;margin-left: auto;margin-right: auto;margin-top: 0px;}
}
