body {background-color: grey; }

header { background-color: pink; }

.header-img { margin: 2%; }

.navbar-button {float:right; margin: 4%; }

.asideBlock {margin: 1%; width: 160px; background-color: white}

@media only screen and (min-width: 1024px){

    .navbar-button {display: none; }

}