<!DOCTYPE html>
<html lang="en">

<head>
    <title>SPLIT VICE - Blog</title>
    <meta name="author" content="SPLIT VICE">
    <meta name="description" content="SPLIT VICE - blog. Digital artist and computer engineer.">
    <meta name="keywords" content="SPLIT VICE, VICE, SPLITVICE, art, coding, blog">
    <meta property="og:title" content="SPLIT VICE - Blog" />
    <meta property="og:url" content="https://split-vice.com/blog" />
    <meta property="og:image" content="/public/img/favicon.png" />
    <meta property="twitter:site" content="@SplitVice_">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#bd0058" />
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- SWEET ALERT 2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!-- LOCAL EXPORTS -->
    <link rel="stylesheet" href="./style.css">
</head>

<div id="div_style">
    <link rel="stylesheet" href="/public/css/style.darkmode.css">
</div>

<body>

    <header>
        <div id="div_header">
        </div>
    </header>

    <div class="container-general">

        <aside id="div_aside_left">
            <div>
            </div>
        </aside>

        <div class="container-main-content">

            <div class="breadCrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                    </ol>
                </nav>
            </div>

            <div id="div_global_message">
            </div>

            <div class="h1" style="text-align: center;">Blog</div>

            <hr>

            <!-- VUE APP -->
            <div id="app">

                <span v-if="blogs == undefined">

                    Loading blogs... please wait
                    <br>
                    If blogs are not being displayed, please report this at <a href="/send-message/">Send a message</a>

                    <br>

                    <div class="spinner-border text-danger" role="status">
                        <span class="visually-hidden"></span>
                    </div>

                </span>

                <span v-else-if="blogs.length == 0">
                    <div class="alert alert-warning" role="alert">
                        No blogs have been written yet
                      </div>
                </span>

                <span v-else-if="blogs.length > 0">

                    <div v-for="blog in blogs">

                        <span class="blog-title">{{ blog.Title }}</span>
                        <span class="blog-subtitle">
                            {{ render_date(blog.Date) }} - {{ blog.Writer }}
                        </span>

                        <br>

                        <span v-html="linkify(blog.Body)"></span>

                        <hr>

                    </div>

                </span>
            </div>

            <hr>

            <div class="h5">General comments</div>

            <div id='comments'></div>

        </div>

    </div>

    <footer>
        <div id="div_footer">

        </div>
    </footer>
    <script src="/public/script/global.js"></script>

    <script src="/public/libs/moment.js"></script>
    <script src="script.js"></script>

    <!-- COMMENTS SECTION EXPORTS -->
    <link rel="stylesheet" href="/public/libs/comments/Comments.css">
    <script src="/public/libs/comments/Comments.js"></script>
    <script>comments__main('BlogSection')</script>

    <h1 style='position: fixed; visibility: hidden; top:0;'>SPLIT VICE - Blog</h1>
</body>

</html>