.first_information_block{
    font-size: 14px;
    line-height: 120%;
    margin-left: 35px;
    color: rgb(110, 110, 110);
}

.title_1{
    margin-bottom: 12px;
}

.external_links{
    font-weight: bold;
    font-size: 18px;
}

.information_block_2{
    font-size: 12px;
}