/* HEADER */

body {
    background-color: grey;
}

header {
    background-color: pink;
}

.header-img {
    margin: 20px;
}

.navbar-button{
    float:right;
    margin: 20px;
}

.navbar-button:hover {
    background-color: red;
}

@media only screen and (min-width: 1025px) {
    .navbar-button {
        display: none;
    }
}

/* NAVBAR OR ASIDE AND CONTENT*/

aside {
    float: left;
}

#asideBlockId .liStyle {
    list-style-type: square;
}

.customContainer {
    margin: 0 auto; 
    margin-top: 11px;
    max-width: 1020px;
}

#asideBlockId {
    background-color: white;
    margin-bottom: 13px;
    padding-left: 8px;
    width:219px;
    padding-bottom: 2px;
    border-style: solid;
    border-width: 1px;
}

.mainContent {
    margin-left: 230px;
    padding: 25px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
}

footer {
    color: white;
    margin-top: 20px;
    width: 100%;
    display: inline-table;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    aside {
        display: none;
        width: 100%;
    }

    #asideBlockId{
        border-style: none;
    }

    .mainContent {
        margin-left: 0px;
        border-style: none;
    }
    .customContainer{
        margin-top: 0px;
    }
}